body {
  background-color: #3b4c68;
  color: white;
  font-family: monospace;
}

#container{
margin-left: 25%;
margin-right:25%;
margin-bottom:10%;
margin-top: : 5%;	
	
}


#parentDiv {

border: 2px solid white;
font-size: 150%;
padding-left:1%;
padding-top: 1%;

}

#gifDiv {
opacity: 0.6;
margin-left:41%;
}

.dividers{
 border-top: 2px solid white;
 margin-right:-30% !important;
}

.hidden {
display:none;
}

.headers {
margin-right:2% !important;
margin-top: 10% !important;
font-size:200%;
min-width:600px;
cursor:pointer;
font-size:28px;
  
}

.headers:hover{
color:#a1a7ad !important;	
transition:0.1s;
}

#twitterTimeline {
margin-top:2%;
max-height:500px;
}

.active {
color:#483d8b;
font-size: 200%;

}
.passive {
color:silver;
}

* {

-webkit-touch-callout: none; /* iOS Safari */
-webkit-user-select: none; /* Safari */
-khtml-user-select: none; /* Konqueror HTML */
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* Internet Explorer/Edge */
user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
}